body {
    background: #fff;
    color: #222;
    font-family: "Liberation Sans", "FreeSans", "Arial", "Sans";
}

#content {
    margin-top: 4rem;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
    font-size: 3.2rem;
}

#links, #error {
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
}

a {
    color: #222;
    text-decoration: none;
}

#links a:hover {
    color: #777;
}
#links li {
    list-style: none;
}

#links li:not(:last-child) {
    margin-bottom: 1.75rem;
}

@media(prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #fff;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: #aaa;
    }
}
